{
  "title"         : "GitHub3",
  "content_file"  : "README.md",
  "include_index" : true,
  "header"        : "GitHub3",
  "docco_files"   : ["./lib/*.js", "./test/*.js"],
  "subheader"     : "NodeJS GitHub API (v3) Wrapper",
  "background"    : "diagonal-noise",
  "github"        : "https://github.com/edwardhotchkiss/github3"
}